@import 'animation.css';
.modal-backdrop {
  z-index: 2 !important;
}

.btn-demo {
  padding: 12px 30px;
  background: linear-gradient(270deg, #FA126C 0%, #FF9F4B 100%);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 4px rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.btn-demo:focus, .btn-demo:hover {
  box-shadow: none;
  color: #FFFFFF;
}

.btn-demo-outline {
  border-radius: 8px;
  background: linear-gradient(270deg, #FA126C 0%, #FF9F4B 100%);
  height: 30px;
  width: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-demo-outline .btn-demo {
  background: #fff !important;
  height: 29px;
  width: 125px;
  border-radius: 7px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FD565D;
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
  padding: 0;
}

.modal .modal-dialog {
  display: flex;
  -ms-flex-align: center;
}
@media (max-width: 660px) {
  .modal .modal-dialog {
    top: 0;
    width: 100%;
    margin: 0;
    display: block;
  }
}
.modal .modal-dialog .modal-content {
  box-shadow: 0 10px 40px rgba(5, 38, 73, 0.25);
  border-radius: 0;
  padding: 30px;
}
@media (max-width: 660px) {
  .modal .modal-dialog .modal-content {
    border-radius: 0 0 20px 20px;
  }
}
.modal .modal-dialog .modal-content .modal-header {
  padding: 0;
  margin-bottom: 42px;
}
.modal .modal-dialog .modal-content .modal-header .close:focus {
  outline: none;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #052649;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 0;
}
.modal .modal-dialog .modal-content .modal-body .input-group {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #CDD3DB;
  box-sizing: border-box;
  border-radius: 6px;
  height: 41px;
}
.modal .modal-dialog .modal-content .modal-body .input-group .form-control-label {
  letter-spacing: 0.25px;
  color: #9BA8B6;
  font-size: 10px;
  line-height: 150%;
  position: absolute;
  z-index: 2;
  top: -7px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
}
.modal .modal-dialog .modal-content .modal-body .input-group .input-group-prepend .input-group-text {
  border-radius: 6px;
}
.modal .modal-dialog .modal-content .modal-body .input-group .form-control {
  border-radius: 0 6px 6px 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  letter-spacing: 0.5px;
  font-size: 14px;
  line-height: 150%;
  color: #37516D;
  height: 100%;
}
.modal .modal-dialog .modal-content .modal-body .input-group .form-control:focus {
  box-shadow: none;
  z-index: 0;
}
.modal .modal-dialog .modal-content .modal-body .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.modal .modal-dialog .modal-content .modal-body .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #37516D;
  height: 100%;
  flex: 1 1 auto;
}
.modal .modal-dialog .modal-content .modal-body .select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px 15px;
  font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-body .select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #697D92 transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.modal .modal-dialog .modal-content .modal-body .select-styled:hover {
  background-color: transparent;
}
.modal .modal-dialog .modal-content .modal-body .select-styled:active, .modal .modal-dialog .modal-content .modal-body .select-styled.active {
  background-color: transparent;
  font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-body .select-styled:active:after, .modal .modal-dialog .modal-content .modal-body .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #697D92 transparent;
}
.modal .modal-dialog .modal-content .modal-body .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: -42px;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #CDD3DB;
  border-radius: 6px;
  font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-body .select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-bottom: 1px solid #CDD3DB;
}
.modal .modal-dialog .modal-content .modal-body .select-options li:last-of-type {
  border-bottom: none;
}
.modal .modal-dialog .modal-content .modal-body .select-options li[rel=hide] {
  display: none;
}

.navbar {
  font-family: "Poppins", sans-serif;
}
@media (max-width: 768px) {
  .navbar {
    box-shadow: 0 3px 20px rgba(37, 42, 50, 0.05);
  }
}
@media (min-width: 990px) and (max-width: 1140px) {
  .navbar {
    padding: 24px 50px;
  }
}
@media (min-width: 1140px) {
  .navbar {
    padding: 24px 100px;
  }
}
@media (max-width: 990px) {
  .navbar .navbar-brand {
    width: 106px;
  }
}
.navbar .navbar-toggler:focus {
  outline: none;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  width: 25px;
  height: 20px;
}
.navbar .navbar-toggler[aria-expanded=false] .icon-close {
  display: none;
}
.navbar .navbar-toggler[aria-expanded=false] .icon-burger {
  display: block;
}
.navbar .navbar-toggler[aria-expanded=true] .icon-close {
  display: block;
}
.navbar .navbar-toggler[aria-expanded=true] .icon-burger {
  display: none;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: 0.75px;
  color: #052649;
  padding: 0 30px;
}
@media (min-width: 768px) and (max-width: 990px) {
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    padding: 0 10px;
  }
}
@media (min-width: 990px) and (max-width: 1250px) {
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    padding: 0 15px;
  }
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #FA126C;
}
@media (min-width: 768px) and (max-width: 990px) {
  .navbar .navbar-nav .nav-item .btn-demo {
    font-size: 10px;
    padding: 8px 12px;
  }
}
.navbar .navbar-nav .nav-item .modal {
  top: 85px !important;
}
@media (min-width: 576px) {
  .navbar .navbar-nav .nav-item .modal .modal-dialog {
    max-width: 400px;
  }
}
.navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content {
  padding: 30px 30px 0 30px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 4px rgba(0, 0, 0, 0.03);
}
.navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-header {
  height: 33px;
  margin-bottom: 10px;
}
.navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-body {
  letter-spacing: 0.5px;
  color: #052649;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 30px;
}

.navbar-collapse {
  background-image: url(../images/nav-mobile-background.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  box-shadow: 0 3px 20px rgba(37, 42, 50, 0.05);
  border-radius: 0 0 20px 20px;
  padding: 80px 0 124px 0;
}
.navbar-collapse .navbar-nav .nav-item {
  margin-bottom: 40px;
}
.navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: 0.75px;
  color: #052649;
  text-align: center;
}
.navbar-collapse .navbar-nav .nav-item:nth-of-type(2) .nav-link {
  font-size: 10px;
  color: #697D92;
  margin-bottom: 20px;
}
.navbar-collapse .navbar-nav .nav-item:nth-of-type(3) {
  margin-bottom: 0;
}
.navbar-collapse .navbar-nav .nav-item .modal-header {
  height: 33px;
  margin-bottom: 10px;
}
.navbar-collapse .navbar-nav .nav-item .modal-body {
  letter-spacing: 0.5px;
  color: #052649;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 30px;
}

.title {
  font-family: "Poppins", sans-serif;
  color: #052649;
  font-weight: bold;
  font-size: 35px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .title {
    font-size: 24px;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 29px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .title {
    font-size: 30px;
  }
}

.section-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #697D92;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .section-text {
    font-size: 15px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .section-text {
    text-align: left;
  }
}

.section-1 {
  align-items: center;
  margin-bottom: 97px;
}
@media (min-width: 990px) and (max-width: 1140px) {
  .section-1 {
    margin-bottom: 100px;
  }
}
@media (min-width: 1140px) {
  .section-1 {
    margin-bottom: 120px;
  }
}
.section-1 div:first-child {
  padding-left: 20px;
  padding-top: 55px;
}
@media (min-width: 990px) and (max-width: 1140px) {
  .section-1 div:first-child {
    padding-left: 50px;
    padding-top: 0;
  }
}
@media (min-width: 1140px) {
  .section-1 div:first-child {
    padding-left: 100px;
    padding-top: 0;
  }
}
.section-1 div:nth-child(2) {
  padding-top: 130px;
  background-image: url(../images/background-section-1.png);
  background-repeat: no-repeat;
  background-position: right;
  -webkit-background-size: cover;
  background-size: cover;
}
@media (max-width: 660px) {
  .section-1 div:nth-child(2) {
    padding-top: 40px;
    margin-bottom: 60px;
  }
}

.section-2 {
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 93px;
}
@media (min-width: 990px) and (max-width: 1140px) {
  .section-2 {
    padding-left: 50px;
    padding-top: 0;
    margin-bottom: 105px;
  }
}
@media (min-width: 1140px) {
  .section-2 {
    padding-left: 100px;
    padding-top: 0;
    margin-bottom: 123px;
  }
}
.section-2 .title {
  margin-bottom: 40px;
}
.section-2 .media {
  align-items: center;
  background: #F3F7FB;
  border-radius: 8px;
  padding: 12px 8px;
  min-height: 60px;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .section-2 .media {
    padding: 20px;
    margin-bottom: 20px;
  }
}
.section-2 .media .media-body {
  letter-spacing: 0.25px;
  color: #052649;
  font-size: 13px;
  line-height: 150%;
}
@media (min-width: 1024px) {
  .section-2 .media .media-body {
    font-size: 16px;
  }
}

.section-3, .section-4 {
  align-items: center;
  margin-bottom: 80px;
}
@media (min-width: 990px) and (max-width: 1140px) {
  .section-3, .section-4 {
    margin-bottom: 115px;
  }
}
@media (min-width: 1140px) {
  .section-3, .section-4 {
    margin-bottom: 140px;
  }
}
.section-3 div:first-child .title, .section-4 div:first-child .title {
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  .section-3 div:first-child .title, .section-4 div:first-child .title {
    margin-bottom: 70px;
  }
}
.section-3 div:nth-child(2), .section-4 div:nth-child(2) {
  padding-left: 20px;
}
@media (min-width: 990px) and (max-width: 1140px) {
  .section-3 div:nth-child(2), .section-4 div:nth-child(2) {
    padding-left: 50px;
    padding-top: 0;
  }
}
@media (min-width: 1140px) {
  .section-3 div:nth-child(2), .section-4 div:nth-child(2) {
    padding-left: 100px;
    padding-top: 0;
  }
}
.section-3 div:nth-child(2) .title, .section-4 div:nth-child(2) .title {
  position: relative;
  text-align: left;
}
@media (min-width: 768px) {
  .section-3 div:nth-child(2) .title, .section-4 div:nth-child(2) .title {
    max-width: 250px;
  }
}
.section-3 div:nth-child(2) .title:before, .section-4 div:nth-child(2) .title:before {
  content: "";
  background-image: url(../images/sales-title.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 120px;
  height: 30px;
  top: -12px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section-3 div:nth-child(2) .title:before, .section-4 div:nth-child(2) .title:before {
    height: 40px;
    width: 270px;
    top: -20px;
    left: -15px;
  }
}
@media (min-width: 1200px) {
  .section-3 div:nth-child(2) .title:before, .section-4 div:nth-child(2) .title:before {
    height: 57px;
    width: 220px;
    top: -28px;
    left: -30px;
  }
}
.section-3 div:nth-child(2) .list, .section-4 div:nth-child(2) .list {
  padding-inline-start: 0;
}
.section-3 div:nth-child(2) .list .list-item, .section-4 div:nth-child(2) .list .list-item {
  list-style-type: none;
  margin-bottom: 5px;
}
.section-3 div:nth-child(2) .list .list-item:before, .section-4 div:nth-child(2) .list .list-item:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #FD565D;
  margin-right: 15px;
}

.section-4 .title, .section-8 .title {
  position: relative;
  text-align: left;
  margin-bottom: 30px !important;
}
@media (min-width: 768px) {
  .section-4 .title, .section-8 .title {
    max-width: 250px;
  }
}
.section-4 .title:before, .section-8 .title:before {
  content: "";
  background-image: url(../images/crm.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 120px;
  height: 30px;
  top: -12px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section-4 .title:before, .section-8 .title:before {
    height: 40px;
    width: 270px;
    top: -20px;
    left: -15px;
  }
}
@media (min-width: 1200px) {
  .section-4 .title:before, .section-8 .title:before {
    height: 57px;
    width: 220px;
    top: -28px;
    left: -30px;
  }
}
.section-4 .section-text, .section-8 .section-text {
  max-width: 410px;
}
@media (max-width: 768px) {
  .section-4 .section-text, .section-8 .section-text {
    margin-top: 35px;
  }
}

.section-5 {
  align-items: center;
  margin-bottom: 80px;
}
@media (min-width: 990px) and (max-width: 1140px) {
  .section-5 {
    margin-bottom: 115px;
  }
}
@media (min-width: 1140px) {
  .section-5 {
    margin-bottom: 140px;
  }
}
.section-5 div:first-child {
  padding-left: 20px;
}
@media (min-width: 990px) and (max-width: 1140px) {
  .section-5 div:first-child {
    padding-left: 50px;
    padding-top: 0;
  }
}
@media (min-width: 1140px) {
  .section-5 div:first-child {
    padding-left: 100px;
    padding-top: 0;
  }
}
.section-5 div:first-child .title {
  position: relative;
  text-align: left;
}
@media (min-width: 768px) {
  .section-5 div:first-child .title {
    max-width: 400px;
  }
}
.section-5 div:first-child .title:before {
  content: "";
  background-image: url(../images/projects.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 200px;
  height: 30px;
  top: -12px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section-5 div:first-child .title:before {
    height: 40px;
    width: 290px;
    top: -20px;
    left: -15px;
  }
}
@media (min-width: 1200px) {
  .section-5 div:first-child .title:before {
    height: 57px;
    width: 380px;
    top: -28px;
    left: -30px;
  }
}
.section-5 div:first-child .section-text {
  margin-top: 35px;
}
@media (min-width: 768px) {
  .section-5 div:first-child .section-text {
    margin-top: 0;
  }
}

.section-6 {
  align-items: center;
  margin-bottom: 70px;
}
.section-6 div:last-child {
  max-width: 540px;
}
.section-6 div:last-child .title {
  position: relative;
  text-align: left;
}
@media (min-width: 768px) {
  .section-6 div:last-child .title {
    max-width: 400px;
  }
}
.section-6 div:last-child .title:before {
  content: "";
  background-image: url(../images/scheduler.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 200px;
  height: 30px;
  top: -12px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section-6 div:last-child .title:before {
    height: 40px;
    width: 290px;
    top: -20px;
    left: -15px;
  }
}
@media (min-width: 1200px) {
  .section-6 div:last-child .title:before {
    height: 57px;
    width: 380px;
    top: -28px;
    left: -30px;
  }
}
.section-6 div:last-child .section-text {
  margin-top: 35px;
}
@media (min-width: 768px) {
  .section-6 div:last-child .section-text {
    margin-top: 0;
  }
}

.section-7 {
  align-items: center;
  margin-bottom: 80px;
}
@media (min-width: 990px) and (max-width: 1140px) {
  .section-7 {
    margin-bottom: 115px;
  }
}
@media (min-width: 1140px) {
  .section-7 {
    margin-bottom: 140px;
  }
}
.section-7 div:first-child {
  padding-left: 20px;
}
@media (min-width: 990px) and (max-width: 1140px) {
  .section-7 div:first-child {
    padding-left: 50px;
    padding-top: 0;
  }
}
@media (min-width: 1140px) {
  .section-7 div:first-child {
    padding-left: 100px;
    padding-top: 0;
  }
}
.section-7 div:first-child .title {
  position: relative;
  text-align: left;
}
@media (min-width: 768px) {
  .section-7 div:first-child .title {
    max-width: 300px;
  }
}
.section-7 div:first-child .title:before {
  content: "";
  background-image: url(../images/timesheets.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 200px;
  height: 30px;
  top: -12px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section-7 div:first-child .title:before {
    height: 40px;
    width: 290px;
    top: -20px;
    left: -15px;
  }
}
@media (min-width: 1200px) {
  .section-7 div:first-child .title:before {
    height: 57px;
    width: 380px;
    top: -28px;
    left: -30px;
  }
}
.section-7 div:first-child .section-text {
  margin-top: 35px;
}
@media (min-width: 768px) {
  .section-7 div:first-child .section-text {
    margin-top: 0;
  }
}
.section-7 div:last-child {
  background-image: url(../images/section-7-background.png);
  background-repeat: no-repeat;
  background-position: right;
  -webkit-background-size: cover;
  background-size: cover;
}

.section-8 {
  align-items: center;
  margin-bottom: 80px;
}
@media (min-width: 990px) and (max-width: 1140px) {
  .section-8 {
    margin-bottom: 115px;
  }
}
@media (min-width: 1140px) {
  .section-8 {
    margin-bottom: 140px;
  }
}
.section-8 div:first-child .title {
  position: relative;
  text-align: left;
  margin-bottom: 30px !important;
}
@media (min-width: 768px) {
  .section-8 div:first-child .title {
    max-width: 410px;
  }
}
.section-8 div:first-child .title:before {
  content: "";
  background-image: url(../images/dashboard.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 200px;
  height: 30px;
  top: -12px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section-8 div:first-child .title:before {
    height: 40px;
    width: 300px;
    top: -20px;
    left: -15px;
  }
}
@media (min-width: 1200px) {
  .section-8 div:first-child .title:before {
    height: 57px;
    width: 400px;
    top: -28px;
    left: -30px;
  }
}
.section-8 div:first-child .section-text {
  max-width: 410px;
}
@media (max-width: 768px) {
  .section-8 div:first-child .section-text {
    margin-top: 35px;
  }
}
.section-8 div:last-child, .section-8 .dashboard-image {
  background-image: url(../images/section-8-background.png);
  background-repeat: no-repeat;
  background-position: right;
  -webkit-background-size: cover;
  background-size: cover;
}

.section-9, .section-10, .section-11 {
  color: #052649;
  margin-bottom: 90px;
}
@media (min-width: 990px) and (max-width: 1200px) {
  .section-9, .section-10, .section-11 {
    padding: 0 50px;
    margin-bottom: 120px;
  }
}
@media (min-width: 1200px) {
  .section-9, .section-10, .section-11 {
    padding: 0 100px;
    margin-bottom: 140px;
  }
}
.section-9 .title, .section-10 .title, .section-11 .title {
  margin-bottom: 27px;
}
@media (min-width: 990px) and (max-width: 1200px) {
  .section-9 .title, .section-10 .title, .section-11 .title {
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .section-9 .title, .section-10 .title, .section-11 .title {
    margin-bottom: 60px;
  }
}

.section-10 {
  margin-bottom: 33px;
}
@media (min-width: 990px) and (max-width: 1200px) {
  .section-10 {
    padding: 0 50px;
    margin-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .section-10 {
    margin-bottom: 188px;
  }
}
.section-10 .bg-gray {
  background: #F3F7FB;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .section-10 .bg-gray {
    overflow: hidden;
  }
}
.section-10 .bg-gray div:first-child {
  padding: 146px 0 116px 105px;
}
.section-10 .bg-gray div:first-child .title {
  position: relative;
  text-align: center;
  margin-bottom: 30px !important;
}
@media (min-width: 768px) {
  .section-10 .bg-gray div:first-child .title {
    max-width: 410px;
    text-align: left;
  }
}
.section-10 .bg-gray div:first-child .title:before {
  content: "";
  background-image: url(../images/demo.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 300px;
  height: 30px;
  top: -12px;
  left: 20px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section-10 .bg-gray div:first-child .title:before {
    height: 40px;
    width: 350px;
    top: -20px;
    left: -15px;
  }
}
@media (min-width: 1200px) {
  .section-10 .bg-gray div:first-child .title:before {
    height: 57px;
    width: 400px;
    top: -28px;
    left: -30px;
  }
}
.section-10 .bg-gray div:first-child .section-text {
  max-width: 560px;
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .section-10 .bg-gray div:first-child {
    padding: 70px 30px 30px 30px;
  }
}
@media (max-width: 767px) {
  .section-10 .bg-gray div:first-child {
    padding: 320px 15px 30px 15px;
  }
}
@media (max-width: 767px) {
  .section-10 .bg-gray div:first-child .btn-demo {
    width: 100%;
  }
}
.section-10 .bg-gray div:last-child {
  position: relative;
}
.section-10 .bg-gray div:last-child .img-fluid {
  position: absolute;
  right: 0;
  top: 40px;
}
@media (max-width: 520px) {
  .section-10 .bg-gray div:last-child .img-fluid {
    top: -100px;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  .section-10 .bg-gray div:last-child .img-fluid {
    top: -300px;
  }
}

.section-11 .card-deck {
  flex-wrap: nowrap;
}
.section-11 .card-deck .card {
  max-width: 300px;
  flex: initial;
  margin: 0 15px 50px 15px;
}
@media (max-width: 520px) {
  .section-11 .card-deck .card {
    margin: auto;
    margin-bottom: 50px;
  }
}
.section-11 .card-deck .card .card-header {
  background: #fff;
}
.section-11 .card-deck .card .card-header .img-fluid {
  border-radius: 10px;
}
.section-11 .card-deck .card .card-body .card-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #052649;
  font-weight: 700;
}
.section-11 .card-deck .card .card-body .card-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #697D92;
}
.section-11 .card-deck .card .card-footer .card-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.75px;
  color: #FD565D;
}
.section-11 .btn-demo-outline {
  width: 200px;
  height: 45px;
}
.section-11 .btn-demo-outline .btn-demo {
  height: 43px;
  width: 198px;
  font-size: 14px;
}

footer {
  background: #F3F7FB;
  color: #052649;
  padding: 50px 20px !important;
}
@media (min-width: 990px) and (max-width: 1200px) {
  footer {
    padding: 50px !important;
  }
}
@media (min-width: 1200px) {
  footer {
    padding: 90px 100px 50px 100px !important;
  }
}
footer .logo {
  margin-bottom: 40px;
}
footer .footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #052649;
  margin-bottom: 7px;
}
footer .footer-link {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #697D92;
}
footer .social-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #052649;
  color: #F3F7FB;
}

/*# sourceMappingURL=main.css.map */
